### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# District Summary

# Total schools
total_schools = len(school_data_complete["school_name"].unique())

# Total students
total_students = len(school_data_complete["student_name"])

# Total budget
total_budget = school_data["budget"].sum()

# Average math score
avg_math_score = round(school_data_complete["math_score"].mean(),2)

# Average reading score
avg_reading_score = round(school_data_complete["reading_score"].mean(),2)

# Percentage of students passing math 
passing_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, 
                                            ["Student ID","student_name", "math_score", "school_name"]])

total_math_scores = len(school_data_complete["math_score"])
passing_math_percentage = round((passing_math/total_math_scores)*100, 2)
passing_math_percentage

# Percentage of students passing reading
passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, 
                                            ["Student ID","student_name", "reading_score", "school_name"]])

total_reading_scores = len(school_data_complete["reading_score"])
passing_reading_percentage = round((passing_reading/total_students)*100, 2)

# Percentage of students passing both math and reading
passing_math_reading = len(school_data_complete.loc[(school_data_complete["math_score"] >= 70)
                                                    & (school_data_complete["reading_score"] >= 70),
                                                    ["student_name", "math_score", "reading_score"]])
passing_math_reading_percentage = round((passing_math_reading/total_students)*100, 2)

In [33]:
#District Summary Results 
print("District Summary Results")
print("-----------------------------------")
print(f"Total number of schools: {total_schools}")
print(f"Total number of students: {total_students}")
print(f"Total budget: {total_budget}")
print(f"Average math score: {avg_math_score}")
print(f"Average reading score: {avg_reading_score}")
print(f"% of students with passing math score: {passing_math_percentage}%")
print(f"% of students with passing reading score: {passing_reading_percentage}%")
print(f"% of students with passing math & reading scores: {passing_math_reading_percentage}%")

District Summary Results
-----------------------------------
Total number of schools: 15
Total number of students: 39170
Total budget: 24649428
Average math score: 78.99
Average reading score: 81.88
% of students with passing math score: 74.98%
% of students with passing reading score: 85.81%
% of students with passing math & reading scores: 65.17%

In [ ]:
test = ({"Total Schools": [total_schools],
         "Total Students": [total_students],
         "Total Budget": [total_budget],
         "Average math score": [avg_math_score],
         "Average reading score": [avg_reading_score],
         "% Passing math": [passing_math_percentage],
         "% Passing reading": [passing_reading_percentage],
         "% Passing math & reading": [passing_math_reading_percentage]
        })
pd.DataFrame(test)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [16]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [54]:
# School Name and Type 
school_name_type = school_data.set_index(['school_name'])['type']
school_name_type

# Total students per school 
students_per_school = school_data_complete["school_name"].value_counts()

# Total school budget
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]

# Per student budget 
budget_per_student = budget_per_school/students_per_school

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type