### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# District Summary

# Total schools
total_schools = len(school_data_complete["school_name"].unique())

# Total students
total_students = len(school_data_complete["student_name"])

# Total budget
total_budget = school_data["budget"].sum()

# Average math score
avg_math_score = round(school_data_complete["math_score"].mean(),2)

# Average reading score
avg_reading_score = round(school_data_complete["reading_score"].mean(),2)

# Percentage of students passing math 
passing_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70, 
                                            ["Student ID","student_name", "math_score", "school_name"]])

total_math_scores = len(school_data_complete["math_score"])
passing_math_percentage = round((passing_math/total_math_scores)*100, 2)
passing_math_percentage

# Percentage of students passing reading
passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70, 
                                            ["Student ID","student_name", "reading_score", "school_name"]])

total_reading_scores = len(school_data_complete["reading_score"])
passing_reading_percentage = round((passing_reading/total_students)*100, 2)

# Percentage of students passing both math and reading
passing_math_reading = len(school_data_complete.loc[(school_data_complete["math_score"] >= 70)
                                                    & (school_data_complete["reading_score"] >= 70),
                                                    ["student_name", "math_score", "reading_score"]])
passing_math_reading_percentage = round((passing_math_reading/total_students)*100, 2)

In [ ]:
#District Summary Results 
print("District Summary Results")
print("-----------------------------------")
print(f"Total number of schools: {total_schools}")
print(f"Total number of students: {total_students}")
print(f"Total budget: {total_budget}")
print(f"Average math score: {avg_math_score}")
print(f"Average reading score: {avg_reading_score}")
print(f"% of students with passing math score: {passing_math_percentage}%")
print(f"% of students with passing reading score: {passing_reading_percentage}%")
print(f"% of students with passing math & reading scores: {passing_math_reading_percentage}%")

In [ ]:
test = ({"Total Schools": [total_schools],
         "Total Students": [total_students],
         "Total Budget": [total_budget],
         "Average math score": [avg_math_score],
         "Average reading score": [avg_reading_score],
         "% Passing math": [passing_math_percentage],
         "% Passing reading": [passing_reading_percentage],
         "% Passing math & reading": [passing_math_reading_percentage]
        })
pd.DataFrame(test)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [7]:
# School Name 

school_data.set_index("school_name")

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type